
@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron-fluid">
        <h2 class="text-center" style="color:antiquewhite; text-shadow: 2px 2px 10px #000000; padding-top: 75px; font-size: 3.3vw">About Us</h2>
    </div>


    <hr />

<div class="container">

    <div class=" row">
        <div class="col-md-12">


            <h3 class=" text-center" style="margin-bottom: 75px"> Who We Are</h3>

             <hr />

            <img src="~/Content/Image/barista.jpg" style=" width:100%; margin-bottom: 75px" />
            <p style="margin-bottom: 75px">
                Lorem ipsum dolor sit amet consectetur adipiscing, elit commodo quam lacus massa parturient diam, sapien bibendum tempor sed duis. Diam lectus montes ullamcorper nisi phasellus a potenti, mauris accumsan arcu venenatis sagittis proin, id pulvinar dictum fames eros orci. Fermentum morbi etiam hac condimentum duis posuere vivamus dui, dictum pretium interdum eleifend dignissim mus egestas habitant luctus, nascetur natoque convallis penatibus quisque mattis integer. Velit tellus rhoncus integer blandit fermentum curae, vestibulum facilisi viverra cursus dis, fringilla gravida aptent mattis rutrum.
            </p>

            <h3 class=" text-center" style="margin-bottom: 75px"> What We Do</h3>
            <hr />

            <img src="~/Content/Image/coffepackaging.jpg" style=" width:100%; margin-bottom: 75px"  />
            <p style="margin-bottom: 75px">
                Lorem ipsum dolor sit amet consectetur adipiscing, elit commodo quam lacus massa parturient diam, sapien bibendum tempor sed duis. Diam lectus montes ullamcorper nisi phasellus a potenti, mauris accumsan arcu venenatis sagittis proin, id pulvinar dictum fames eros orci. Fermentum morbi etiam hac condimentum duis posuere vivamus dui, dictum pretium interdum eleifend dignissim mus egestas habitant luctus, nascetur natoque convallis penatibus quisque mattis integer. Velit tellus rhoncus integer blandit fermentum curae, vestibulum facilisi viverra cursus dis, fringilla gravida aptent mattis rutrum.
            </p>

            <h3 class=" text-center" style="margin-bottom: 75px"> The Future of C#ffee</h3>
            <hr />
            <img src="~/Content/Image/coffeemachine.jpg" style=" width:100%; margin-bottom: 75px"  />
            <p style="margin-bottom: 75px">
                Lorem ipsum dolor sit amet consectetur adipiscing, elit commodo quam lacus massa parturient diam, sapien bibendum tempor sed duis. Diam lectus montes ullamcorper nisi phasellus a potenti, mauris accumsan arcu venenatis sagittis proin, id pulvinar dictum fames eros orci. Fermentum morbi etiam hac condimentum duis posuere vivamus dui, dictum pretium interdum eleifend dignissim mus egestas habitant luctus, nascetur natoque convallis penatibus quisque mattis integer. Velit tellus rhoncus integer blandit fermentum curae, vestibulum facilisi viverra cursus dis, fringilla gravida aptent mattis rutrum.
            </p>
        </div>


    </div>


</div>