@model CofeWebApplication.ServiceReference1.BasketDTO
@{
    ViewBag.Title = "Checkout";
}

<div class="container">
    <h2 style=" margin-top:50px">Almost There</h2>
    <hr />

    <div class="row">
        <div class=" col-md-6" style=" margin-top: 50px">
            <h4>Total to Pay</h4>
            <div style="font-size:2.6vw; margin-bottom:50px">£@Html.DisplayFor(model => model.SumPrice)</div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Confirm" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index", new { id = (int)Model.Id })
                </div>
            }
        </div>
        <div class="col-md-6">
            <img src="~/Content/Image/checkout.jpg" style=" width: 100%"/>


        </div>
    </div>
</div>