@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron-fluid">
    <h2 class="text-center" style="color:antiquewhite; text-shadow: 2px 2px 10px #000000; padding-top: 75px; font-size: 3.3vw">Contact Us</h2>
</div>

<div class="container" style="padding-top:50px;">
    <div class=" row">
        <div class="col-md-8">
            <h3>If you want to contact us, here are our details</h3>

            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Image/contactus.jpg"
        </div>
    </div>
</div>